.horizontal-toolbar {
  display: inline-flex;
  border: solid 1px #f00;
  margin: 8px;
  padding: 0 1px;
  box-sizing: border-box;
  height: 32px;
  transition: background 0.3s;
}
.horizontal-toolbar .image-button {
  margin: 2px 1px;
}
.theme-light .horizontal-toolbar {
  border-color: #a0a0a0;
  background-color: #e8e8e8;
}
.theme-dark .horizontal-toolbar {
  border-color: #a0a0a0;
  background-color: #444;
}
