.image-button {
  display: flex;
  border: solid 1px #f00;
  border-radius: 2px;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  margin: 2px;
  transition: background 0.3s;
}
.image-button img {
  margin: 2px;
  width: 20px;
  height: 20px;
}
.theme-light .image-button {
  border-color: #e8e8e8;
  background-color: #e8e8e8;
}
.theme-light .image-button:hover {
  border-color: #a0a0a0;
  background-color: #d1d1d1;
}
.theme-light .image-button:active {
  background-color: #aaa;
}
.theme-light .image-button.selected {
  border-color: #a0a0a0;
  background-color: #b7b7b7;
}
.theme-light .image-button.selected:hover {
  background-color: #b7b7b7;
}
.theme-light .image-button.selected:active {
  background-color: #aaa;
}
.theme-dark .image-button {
  border-color: #444;
  background-color: #444;
}
.theme-dark .image-button:hover {
  border-color: #a0a0a0;
  background-color: #646464;
}
.theme-dark .image-button:active {
  border-color: #a0a0a0;
  background-color: #323232;
}
.theme-dark .image-button.selected {
  border-color: #acacac;
  background-color: #808080;
}
.theme-dark .image-button.selected:hover {
  background-color: #808080;
}
.theme-dark .image-button.selected:active {
  background-color: #323232;
}
