.side-panel {
  display: inline-block;
  border: solid 1px #f00;
  padding: 4px;
  box-sizing: border-box;
  width: 42px;
  height: 100%;
  transition: background 0.3s;
}
.theme-light .side-panel {
  border-color: #a0a0a0;
  background-image: -webkit-linear-gradient(left, #555, #444);
}
.theme-dark .side-panel {
  border-color: #a0a0a0;
  background-image: -webkit-linear-gradient(left, #333, #222);
}
