.horizontal-toolbar {
  display: inline-flex;
  padding: 0 1px;
  box-sizing: content-box;
  height: 30px;
  transition: background 0.3s;
}
.horizontal-toolbar .image-button {
  margin: 2px 1px;
}
.theme-light .horizontal-toolbar {
  background-color: #e8e8e8;
}
.theme-dark .horizontal-toolbar {
  background-color: #444;
}
