.tab-bar {
  box-sizing: border-box;
  width: 500px;
  transition: background 0.3s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.tab-bar-container {
  display: inline-flex;
  height: 26px;
  width: 100%;
  margin-bottom: 3px;
  border-bottom: solid 1px #f00;
  transition: background 0.3s;
}
.tab-bar-container .tabbar-filler {
  min-width: 16px;
  flex: 1;
}
.theme-light .tab-bar {
  background-color: #fafafa;
}
.theme-light .tab-bar-container {
  border-color: #a0a0a0;
  background-color: #a0a0a0;
}
.theme-light .tab-bar-container .tabbar-filler {
  background-color: #d4d4d4;
}
.theme-dark .tab-bar {
  background-color: #808080;
}
.theme-dark .tab-bar-container {
  border-color: #a0a0a0;
  background-color: #a0a0a0;
}
.theme-dark .tab-bar-container .tabbar-filler {
  background-color: #444;
}
